body {
  margin: 0 !important;
  font-family: 'Dancing Script', cursive;
}
a {
  text-decoration: none;
}

/* End General */
.container {
  display: flex;
  background-color: #454545;
  background-attachment: fixed;
  background-repeat: auto;
  min-height: 100vh;
}

.content {
  text-align: center;
  color: white;
  width: 80%;
  margin: auto;
}

.content .logo-home {
  width: 15%;
}

.content h1 {
  font-size: 60px;
  margin: 20px;
}

.content p strong {
  font-size: 30px;
  line-height: 35px;
}

.content .btn_CariTahu {
  font-size: 20px;
  background-color: white;
  color: black;
  padding: 10px 30px;
  border-radius: 50px;
  top: 30px;
}

.btn_CariTahu {
  text-align: center;
  text-decoration: none;
  color: black;
  z-index: 2;
  position: relative;
}

.btn_CariTahu:hover {
  color: white;
  background: rgba(239, 207, 0);
  transition: ease-out 1s;
}

@media screen and (max-width: 769px) {
  .content h1 {
    font-size: 30px;
  }
  .content p strong {
    font-size: 20px;
    line-height: 35px;
  }
  .content {
    width: 90%;
  }
}

@media screen and (max-width: 426px) {
  .content .logo-home {
    width: 50%;
  }
  .content h1 {
    font-size: 30px;
  }
  .content p strong {
    font-size: 14px;
    line-height: 25px;
  }
  .content {
    width: 90%;
  }
  .content .btn_CariTahu {
    top: 20px;
    font-size: 15px;
  }
}

@media screen and (max-width: 321px) {
  .content p strong {
    font-size: 15px;
  }
  .content .btn_CariTahu {
    top: 20px;
  }
}

/* 5pandawa */

.container1 {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
}

.first {
  flex-grow: 1;
  background-image: url('../assets/img/03.yudistira.jpg');
  background-position: center;
  width: 50%;
  transition: 1s;
}

.second {
  flex-grow: 1;
  background-image: url('../assets/img/02.bima.jpg');
  background-position: center;
  width: 50%;
  transition: 1s;
}

.third {
  flex-grow: 1;
  background-image: url('../assets/img/01.arjuna.jpg');
  background-position: center;
  width: 50%;
  transition: 1s;
}

.fourth {
  flex-grow: 1;
  background-image: url('../assets/img/04.nakula.jpg');
  background-position: center;
  width: 50%;
  transition: 1s;
}

.fifth {
  flex-grow: 1;
  background-image: url('../assets/img/05.sadewa.jpg');
  background-position: center;
  width: 50%;
  transition: 1s;
}

.first:hover,
.second:hover,
.third:hover,
.fourth:hover,
.fifth:hover {
  transition: 2s;
  width: 100%;
}

.box {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}

.box:after {
  background: rgba(239, 207, 0, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
  transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.box:before {
  background: linear-gradient(to bottom, rgba(230, 1, 1, 0) 0%, black 70%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.box:hover:after {
  opacity: 0;
}

.box:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}

.box:hover .swipe_upContent {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
  color: white;
  width: 60%;
  margin: auto;
  font-size: 20px;
}

.swipe_upContent {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 50%;
  opacity: 0;
}

.swipe_upContent h1 {
  text-transform: uppercase;
  color: white;
  font-size: 2.5rem;
  font-weight: normal;
}

.swipe_upContent .btn_CariTahu {
  text-align: center;
  text-decoration: none;
  z-index: 2;
  position: relative;
  font-size: 15px;
  background-color: white;
  color: black;
  padding: 10px 30px;
  border-radius: 50px;
  top: 10px;
}

@media screen and (max-width: 769px) {
  .box:hover .swipe_upContent {
    width: 80%;
    font-size: 15px;
  }
  .swipe_upContent {
    top: 350px;
  }
  .swipe_upContent h1 {
    font-size: 1.2rem;
  }
  .swipe_upContent .btn_CariTahu {
    font-size: 12px;
    padding: 5px 15px;
  }
}

@media screen and (max-width: 426px) {
  .first:hover,
  .second:hover,
  .third:hover,
  .fourth:hover,
  .fifth:hover {
    width: 400%;
  }
  .box:hover .swipe_upContent {
    width: 80%;
    font-size: 12px;
  }
  .swipe_upContent h1 {
    font-size: 1.2rem;
  }
  .swipe_upContent .btn_CariTahu {
    font-size: 10px;
    padding: 5px 15px;
  }
  .swipe_upContent {
    top: 450px;
    background-color: rgba(17, 17, 17, 0.7);
    border-radius: 10px;
    padding: 10px;
  }
  .first,
  .second,
  .third,
  .fourth,
  .fifth {
    margin-top: -80px;
  }
}

@media screen and (max-width: 321px) {
  .swipe_upContent {
    top: 450px;
  }
  .first,
  .second,
  .third,
  .fourth,
  .fifth {
    margin-top: -80px;
  }
}

/* Content Detail */
/* Navbar */
nav {
  position: fixed;
  width: 100%;
  margin: auto;
}

nav ul {
  list-style: none;
  background: rgb(0, 0, 0, 0);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul {
  background: black;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: 1s;
}

nav ul li {
  padding: 5px;
  float: left;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
}

nav ul li a:hover {
  background: #565050;
  border-radius: 50px;
}
.padd-left {
  margin-left: 150px;
}

/* End Navbar */
.container_detail {
  background: #222;
  width: 100%;
  padding: 85px 0px 0px 0px;
}

.main_content1 {
  display: flex;
  width: 80%;
  margin: auto;
  padding-bottom: 80px;
}

.main_content1 .size-imgHead {
  display: block;
  margin: auto;
  padding: 20px;
  width: 70%;
}

.main_content1 h2 {
  margin-left: 20px;
  color: white;
}

.main_content1 p {
  font-size: 20px;
  text-align: justify;
  margin: 20px;
  color: white;
  padding-bottom: 20px;
}

aside {
  width: 250%;
  /* height: 20%; */
  margin-left: 30px;
  margin-right: 20px;
  float: right;
  font-style: italic;
  background: #111;
  padding: 10px;
}

.infoDev ul {
  padding: 0px;
  text-align: center;
  list-style-type: none;
  color: white;
  font-size: 21px;
}

.infoDev ul li img {
  width: 50%;
  padding-bottom: 50px;
}
.infoDev ul li h4,
.infoDev ul li h5 {
  margin: 0px;
  line-height: 30px;
}

.infoDev .medsos {
  width: 100%;
  padding: 25px 0px;
  margin: auto;
}

.infoDev ul .medsos li {
  /* float: left; */
  display: inline-block;
  margin: auto;
}

.infoDev ul .medsos li img {
  background-color: white;
  width: 30px;
  padding: 5px;
  border-radius: 50px;
  margin: 0px 7px;
}

.infoDev ul .medsos li img:hover {
  background-color: #565050;
}

.padd-top {
  padding: 70px 0px;
}

.content_detailPandawa {
  width: 100%;
  background-color: #222;
  /* background-image: linear-gradient(to top, rgb(129, 37, 37), rgb(197, 187, 42), rgba(0, 0, 0, 0.5)); */
}

.content_detailPandawa .card {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}

#yudhistira,
#arjuna,
#sadewa {
  background: #565050;
}

#yudhistira .card img,
#arjuna .card img,
#sadewa .card img {
  float: left;
  width: 12%;
  height: 230px;
  margin-left: 20px;
  margin-right: 50px;
  text-align: justify;
  background-color: rgba(17, 17, 17, 0.7);
  border-radius: 20px;
  padding: 20px 20px;
}

#bima .card img,
#nakula .card img {
  float: right;
  width: 12%;
  margin-right: 20px;
  margin-left: 50px;
  text-align: justify;
  height: 230px;
  background-color: rgba(17, 17, 17, 0.7);
  border-radius: 20px;
  padding: 20px 20px;
}

#yudhistira .card p,
#bima .card p,
#arjuna .card p,
#nakula .card p,
#sadewa .card p {
  text-align: justify;
  color: white;
  margin: 20px;
  font-size: 20px;
}

#yudhistira h2,
#bima h2,
#arjuna h2,
#nakula h2,
#sadewa h2 {
  margin-left: 20px;
  color: white;
}

@media screen and (max-width: 769px) {
  .padd-left {
    margin-left: 50px;
  }
  aside {
    width: 700%;
    padding: 20px;
    margin: 10px 0px 0px 0px;
  }
  .infoDev ul li img {
    width: 100%;
  }

  .infoDev ul .medsos li img {
    width: 20px;
  }
  .infoDev .medsos {
    width: 100%;
    padding: 25px 0px;
  }
  .infoDev ul li h4,
  .infoDev ul li h5 {
    margin: 0px;
    line-height: 30px;
    font-size: 20px;
    width: 100%;
  }
  #yudhistira .card img,
  #arjuna .card img,
  #sadewa .card img {
    width: 30%;
    margin-right: 20px;
  }
  #bima .card img,
  #nakula .card img {
    width: 30%;
    margin-left: 20px;
  }
}
@media screen and (max-width: 426px) {
  nav ul li a {
    font-size: 18px;
    padding: 10px 0px;
  }
  nav ul {
    padding: 10px 0px;
    margin: auto;
  }
  nav.black ul {
    padding: 10px 0px;
    margin: auto;
  }
  nav ul li a:hover {
    padding: 5px 10px;
    border-radius: 50px;
  }
  .padd-left {
    margin-left: 20px;
  }
  .main_content1 {
    width: 90%;
  }
  .content_detailPandawa .card {
    width: 90%;
  }

  aside {
    width: 100%;
    padding: 30px 10px;
  }
  .infoDev {
    padding: 10px;
    margin-bottom: 20px;
  }
  .infoDev ul {
    font-size: 20px;
  }
  .infoDev ul .medsos li img {
    width: 20px;
    margin: 7px;
  }
  .infoDev .medsos {
    width: 65%;
    padding: 15px 0px;
    margin: auto;
  }
  .main_content1 .size-imgHead {
    width: 85%;
  }
  #yudhistira .card img,
  #arjuna .card img,
  #sadewa .card img {
    height: 150px;
  }
  #bima .card img,
  #nakula .card img {
    height: 150px;
  }
}
@media screen and (max-width: 376px) {
  nav ul li a {
    font-size: 16px;
    padding: 10px 0px;
  }

  aside {
    width: 50%;
    padding: 30px 10px;
  }
  .infoDev {
    padding: 10px;
    margin-bottom: 20px;
  }
  .infoDev ul {
    font-size: 18px;
  }
  .infoDev ul .medsos li img {
    width: 25px;
    margin: 6px;
  }
  .infoDev .medsos {
    width: 80%;
    margin: auto;
  }
  #yudhistira .card img,
  #arjuna .card img,
  #sadewa .card img {
    width: 30%;
  }
  #bima .card img,
  #nakula .card img {
    width: 30%;
  }
}
@media screen and (max-width: 321px) {
  nav ul li a {
    font-size: 13.5px;
    padding: 10px 0px;
  }

  .padd-left {
    margin-left: 10px;
  }

  .infoDev ul {
    font-size: 15px;
  }
  .infoDev ul .medsos li img {
    width: 20px;
    margin: 5px;
  }

  #yudhistira .card img,
  #arjuna .card img,
  #sadewa .card img {
    width: 25%;
    height: 100px;
  }
  #bima .card img,
  #nakula .card img {
    width: 25%;
    height: 100px;
  }
}
/* End Section */ /* Footer */
footer {
  text-align: center;
  background: black;
  color: white;
  padding: 2rem 0;
}
footer .credit {
  /* margin: 1rem 0; */
  font-size: 1rem;
  color: #eee;
}
footer p img {
  width: 30px;
}
